body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f7f7f9 50%, #c0b9ff 50%);
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 600px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

.form-section {
    flex: 1;
    padding: 50px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-section h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    position: relative;
    top: 15px;
}

.form-section .team-name {
    font-size: 16px;
    color: #888;
    margin-bottom: 30px;
    position: relative;
    top: 18px;
}
.input-container {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.input-container input {
    width: 87%;
    padding: 15px;
    padding-left: 35px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.register-button {
    width: 107%;
    background-color: #6a82fb;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #8675f3;
}

.info-section {
    flex: 1;
    padding: 50px;
    background: linear-gradient(135deg, #a698fa, #4c399f);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.features div {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
}
